.techsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 1rem;
    width: 100%;
}


.techItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    padding: .6rem;
    background-color: #100e0e46;
    border: 1px solid #3538438c;
    border-radius: 8px;
}

.techItem img {
    width: 50px;
    height: 50px;
}
