.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #020105;
    padding: 2rem;
}

.infoSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: justify;
    width: 90%;
}

.infoTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;

    & svg {
        height: 2rem;
        width: 2rem;
        color: #8567E5;
    }
}

.infoAbout {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}



.disclaimerSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    width: 80%;

    text-size-adjust: 80%;

    background-color: #50471161;
    border-radius: 10px;
}

.disclaimerTitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: #b5bf1fca;
    & svg {
        height: 2rem;
        width: 2rem;
        color: #dde567a9;
    }
}

.disclaimerSection p {
    color: #b5bf1fca;
    font-size: 0.9rem;
}
